.eventss_list_decoration{
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding: 10%;
    background-color: whitesmoke;
  }
  .eventss_style{
      background-color: white;
  }
  .eventss_information_style{
      text-align: center;
      padding: 10px;
  }
  .eventss_button_style{
    border: 0px;
    color: rgb(5, 5, 5);
    background-color: black;
    height: 44px;
    font-size: 16px;
    width: 30%;
    border-radius: 10px;
  }
  @media screen and (max-width: 1000px) {
    .eventss_list_decoration{
      display: grid;
      grid-gap: 15px 15px;
      grid-template-columns: auto;
    }
  }